/*
Visionmax v 1.0
Available on ThemeForest - http://themeforest.net/user/nasirwd/portfolio
Author: NasirWd - http://www.nasfactor.com

1.	Document Setup (body, divs, img)
2.	Heading Styles
3.	Custom Nav Style
4.	Dropdowns
5.	General Styles
6.  Header
7.	Home Page
	7.1 Services
	7.2 Solid features
	7.3 promo-line
	7.4 showcase
	7.5 Blog
	7.6 Video Reel
	7.7 Testimonals
	7.8 Footer
8.	Other Pages
	8.1 Blog Standard / Wide
	8.2 Blog Masonry
	8.3 Blog Post
	8.4 Full Width
	8.5 Portfolio
	8.6 Portfolio Single Page
	8.7 Single Page Wide
	8.8 About
	8.9 Team
	8.10 Services
	8.11 Contact
	8.12 Shortcodes
	8.13 Elements
9. Padding / Margin
10. Responsive Media Queries

*/

/*================================
	1.Document Setup
================================*/
body{
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden !important;
	background:url(../images/patterns/black_lozenge.png);
}

/*boxed Layout*/
.boxed-layout
{
	width:1170px;
	margin:0 auto;
	
}

.boxed-layout section
{
	background-color:#fff;
}

/*================================
	2.Heading Styles
================================*/

h1
{
	font-family: 'Montserrat', sans-serif !important;
	font-size:24px !important;
	font-weight:normal !important;
	margin:0px 0px 20px 0px !important; 
	color:#000 !important;
}

h2
{
	font-family: 'Montserrat', sans-serif !important;
	font-size:36px !important;
	font-weight:bold !important;
	margin:0px 0px 20px 0px !important; 
	color:#000 !important;
	
}

h3
{
	font-family: 'Open Sans', sans-serif !important;
	font-size:16px !important;
	font-weight:normal !important;
	margin:0px 0px 0px 0px !important; 
	color:#7f8c8d !important;
	line-height:28px;
}

h5
{
	font-family: 'Montserrat', sans-serif !important;
	font-size:18px !important;
	font-weight:normal !important;
	margin:0px 0px 20px 0px !important; 
	color:#000 !important;
}

/*=========================
	3.Custom Nav Style
=========================*/
.navbar{
	margin-bottom:0;
}
.navbar-default{
	background:#292a2c;
	border:none;
	border-radius:0;
	border-top:1px solid #484849;
	padding-top:27px;
	padding-bottom:10px;
	min-height:97px;
	transition:All .6s ease;
	-webkit-transition:All .6s ease;
	-moz-transition:All .6s ease;
	-o-transition:All .6s ease;
}

.navbar-fixed-top.navbar-default{
	padding-top:15px !important;
	padding-bottom:5px !important;
	min-height:20px !important;
	width:1170px;
	margin:0 auto;

	
}
.navbar-default
{margin-top:47px;
}
.navbar-brand img
{
	max-width:100%;
	max-height:100%;
}
.navbar-fixed-top .navbar-brand img{
	max-width:220px;
transition:All .6s ease;
	-webkit-transition:All .6s ease;
	-moz-transition:All .6s ease;
	-o-transition:All .6s ease;	
	
}
.navbar-nav{
	float:right;
}
.navbar-brand{
	padding-top:0;
	
}
.navbar-toggle{
	background:#2f3032;
	}
.navbar-default .navbar-toggle{
	border-color:#3d3d3f;
}

.navbar-nav > li > a{
	padding-top:10px;
	font-size:14px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	padding-left:15px;
	padding-right:15px;
}

.navbar-nav > li:last-child > a{
	padding-right:0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li a:hover, 
.navbar-default .navbar-nav > li a:focus{
	color:#ffffff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	background:#292a2c;
	
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}

/*================================
	4.Dropdown
================================*/

ul.nav li.dropdown:hover ul.dropdown-menu {
 display: inline-block;
}

.navbar-nav>li>.dropdown-menu
{
	float:none;
}

.dropdown-menu 
{
	border:none;
}
ul.dropdown-menu 
{
	background:#292a2c;
	opacity:.95;
	
	
}


	.dropdown-menu li a
	{
		color:#fff;
		line-height:40px;
		font-size:13px;
		color:#777777;
		opacity:1;
		
	}

	.dropdown-menu li a:hover
	{
		color:#fff;
		background:#f54444;
		opacity:1;
			}

/*================================
	5.General Styles
================================*/

.bg-color1{
	background:#f54444;
}
.bg-color2{
	background:#27ae60;
}
.bg-color3{
	background:#3498db;
}
.bg-color4{
	background:#1abc9c;
}
.section-heading{
	font-family: 'Montserrat', sans-serif;
	font-size:35px;
	line-height:40px;
	font-weight:700;
	color:#000;
	text-align:center;
}
.section-subheading{
	text-align:center;
	font-size:16px;
	line-height:30px;
	color:#7f8c8d;
	padding-top:12px;
}
.wrape-icon{
	height:52px;
	width:52px;
	text-align:center;
	line-height:52px;
	font-size:26px;
	color:#fff;
}
.head{
	font-size:20px;
	line-height:40px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	color:#ffffff;
}


.bread-crumb{
	background:#fff;
	border-bottom:2px solid #e1e1e1;
	line-height:96px;
	margin-top:70px;
}
.bread-crumb .head{
	font-size:30px;
	font-weight:600;
	color:#000000;
	line-height:96px;
}
.crumbs ul{
	margin:0;
	padding:0;
	text-align:right;

}
.crumbs li{
	font-size:12px;
	display:inline-block;
	color:#7f8c8d;
	margin-left:4px;
}

.crumbs li a{
	font-size:14px;
	text-decoration:none;
	color:#7f8c8d;
	font-family: 'Open Sans', sans-serif;
	padding-left:8px;
}

.crumbs li.active a{
	text-decoration:none;
	color:#27ae60;
}

/*================================
	6.Header
================================*/
.quick-access{
	background:#1b1b1b;
	padding-top:7px;
	padding-bottom:10px;
	height:47px;
}

.quick-access ul{
	margin:0;
	padding:0;
	float:right;
}

.quick-access ul li{
	float:left;
	color:#f54444;
	font-size:16px;
	list-style:none;
	margin-right:10px;
	line-height:30px;

}
.quick-access ul li a{
	padding-left:8px;
	color:#fff;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:30px;
	

}
.quick-search{
	position:relative;
	width:193px;
	height:23px;
	border:1px solid #414141;
	border-radius:10px;
	margin-top:5px;
}
.quick-search input{
	position:absolute;
	height:100%;
	width:100%;
	border-radius:10px;
	background:#383838;
	border:none;
	color:#666 !important;
	padding-left:10px;
	top:0;
	left:0;
	outline:none;
	line-height:20px;
	font-size:12px;

}

.quick-search ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
.quick-search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
}
.quick-search ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
}
.quick-search :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
}


.quick-search{
	position:relative;
	width:193px;
	height:23px;
	border:1px solid #414141;
	border-radius:10px;
	margin-top:5px;
}

.submit-search{
	position:absolute;
	top:-7px;
	right:6px;
	padding:0;
	margin:0;
	border:0;
	background:none;
	
	cursor:pointer;
}
.submit-search span{
	color:#f54444;
	font-size:13px;
}

/*==================================
	7.Homepage
===================================*/
#banner-wrapper{
	padding-top:150px;
	height:auto;
	/*background-attachment:fixed;*/
	background-image:url(../images/header-bg.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	width:100%;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;

}
#banner-wrapper .banner{
	position: relative;
	margin:0 auto;
	text-align:center;
	max-width:80%;	
}

#banner-wrapper .banner img{
	width:100%;
	height:auto;
	max-width:820px;

}

/*==================================
	7.1 Services
===================================*/
#sevices-wrapper{
	position:relative;
	padding-top:55px;
	width:100%;
}

.services-inner{
	padding-top:80px;

}

.service{
	position:relative;
	margin-bottom:50px;
}
.service .wrape-icon{
	float:left;
	margin-right:18px;
}
.service-detail{
	display:table;
}
h4.head{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:500;
	line-height:24px;
	margin:0;
	color:#1b1b1b;
}
.service p{
	color:#7f8c8d;
	font-size:14px;
	line-height:28px;
	padding-top:20px;
}


/*==================================
	7.2 Solid features
===================================*/
#solid-features{
	position:relative;
	padding-top:74px;
	padding-bottom:40px;
	height:auto;
	background:#eef2f3;
}
.solid-visuals{
	text-align:right;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
}

.solid-visuals img{
	position: absolute;
	left:0;
	top:0;
	max-width:770px;
	width:100%;
	height: auto;

	
}

.solid-iphone{
	max-width:741px;
	animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-o-animation-duration:1.5s;
	opacity:0;
}

.solid-imac{
	position:relative !important;
	width:100%;
	height: auto;
	top:auto;
	animation-duration:2.5s;
	-webkit-animation-duration:2.5s;
	-moz-animation-duration:2.5s;
	-o-animation-duration:2.5s;	
	opacity:0;
}

.effect{
	top:0 !important;
}





#solid-features .service .head{
	color:#2c3e50;
}
#solid-features .service p{
	padding-top:10px;
}

#solid-features .section-heading{
	text-align:left;
	margin-bottom:30px;
}

/*================================
	7.3 promo-line
================================*/
#promo-line{
	padding-top:60px;
	padding-bottom:65px;
}
#promo-line .section-subheading{
	padding-top:0;
	text-align:left;
	margin-bottom:10px;
}
#promo-line .section-heading{
	text-align:left;
	
}

#promo-line a{
	padding:15px;
	color:#fff;
	font-size:20px;
	line-height:48px;
	background:#f54444;
	font-weight:700;
	border-bottom:4px solid #c13636;
	border-radius:2px;
	text-decoration:none;
}
#promo-line a span{
	margin-right:5px;
}

/*================================
	7.4 showcase
================================*/
#showcase-wrapper{
	background:#ffc71d;
	padding-top:60px;
	padding-bottom:50px;
	position:relative;
}

.et-rotate{
	width:69px;
	height:69px;
	background:#f54444;
	line-height:69px;
	text-align:center;
	color:#fff;
	font-size:30px;
	position:absolute;
	cursor:pointer;
	top:50%;
	margin-top:-34.5px;
	z-index:999;
}

.show-case-visual{
	padding-top:30px;
	text-align:center;
	position:relative;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.showcase-hover ul{
	margin:0;
	padding:0;
	margin-top:-35px;

}
.showcase-hover li{
	height:70px;
	width:70px;
	background:#fff;
	color:#f54444;
	cursor:pointer;
	font-size:30px;
	line-height:70px;
	display:inline-block;
	list-style:none;
	border-radius:50%;
	margin-right:10px;

}
.show-case-visual img{
	width:100%;
	height:auto;
	max-width:660px;
}
.showcase-hover{
	position:absolute;
	bottom:-100%;
	left:18px;
	height:40%;
	background:#000;
	background:rgba(0,0,0,.8);
	width:94%;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}
.show-case-visual:hover .showcase-hover{
	bottom:0;
}

.et-wrapper{
	min-height:200px !important;
	margin:0 auto;
	height:300px;
	
}

.et-wrapper-basic{
	min-height:200px !important;
	margin:0 auto;

	
}
.showcase-prev{
	left:0px;
	
}
.showcase-next{
	right:0px;
}

#showcase-wrapper .section-heading,#showcase-wrapper .section-subheading{
	color:#fff;
}

/*================================
	7.5 Blog
================================*/
#blog-wrapper{
	position:relative;
	padding-top:60px;
	padding-bottom:30px;
}

.post{
	position:relative;
	float:left;
	width:100%;
	margin-left:6px;
	margin-right:6px;
	margin-bottom:20px;
}
.post-visual{
	position:relative;
	overflow:hidden;
}
.post-visual img{
	width:100%;
	height:auto;
}
.post-hover{
	position:absolute;
	height:100%;
	width:100%;
	background:#f54444;
	background:rgba(245,68,68,.9);
	top:100%;
	left:0;
	padding-top:20%;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.post:hover .post-hover{
	top:0;
}

.post-hover ul{
	margin-top:-200%;
	padding:0;
	text-align:center;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.post:hover .post-hover ul{
	margin:0;
}


.post-hover li{
	width:70px;
	height:70px;
	background:#ffffff;
	color:#fc453f;
	line-height:70px;
	text-align:center;
	display:inline-block;
	font-size:25px;
	border-radius:50%;
	margin-right:7px;
	cursor:pointer;

}
.post .head{
	text-align:left !important;
}
.post .head a{
	color:#000000;
	text-decoration:none;
	font-size:20px;
	line-height:40px;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	padding-top:13px;
	padding-bottom:7px;
	text-align:left !important;
}

.post .about-post ul{
	margin:0;
	padding:0;
}
.post .about-post li{
	color:#7f8c8d;
	display:inline-block;
	margin-right:10px;
}


.post .about-post li span{
	color:#f54444;
	font-size:13px;
	font-weight:500;
	font-family: 'Open Sans', sans-serif;
	padding-left:10px;
	
}
.post p{
	color:#7f8c8d;
	font-size:14px;
	line-height:28px;
}
.blog-inner{
	padding-top:60px;
}


/*==================================
	7.6 Video Reel
===================================*/
#reel-wrapper{
	padding-top:55px;
	height:auto;
	background: url(../images/video-bg-pattern.png) center center repeat;
	position:relative;
	width:100%;
	padding-bottom:60px;
	overflow-x:hidden;

}
#reel-wrapper .section-heading{
	color:#fff;
}
#reel-wrapper .section-subheading{
	margin-bottom:40px;
}


.viemeo-player{
	margin:0 auto;
	width:94%;
	max-width:1100px !important;

}
.video-width{
	width:100%;
	height:610px;
	border:none;

}
/*==================================
	7.7 Testimonals
===================================*/
.testi-face{
	height:106px;
	width:106px;
	border-radius:50%;
	border:5px solid #1abc9c;
	overflow:hidden;
	margin:0 auto;
	
}

.testi-inner{
	padding-top:53px;
}
.testi-face img{
	height:106px;
	width:106px;
}

.testimonal p{
	font-size:22px;
	line-height:34px;
	color:#666666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	max-width:70%;
	text-align:center;
	margin:0 auto;
	padding-top:25px;
}

.testimonal .reference{
	padding-top:30px;
	font-size:20px;
	text-align:center;
	font-weight:400;
}

.testimonal .reference a{
	color:#1abc9c;
	text-decoration:underline;
}



#tesimonals-wrapper{
	position:relative;
	padding-top:60px;
	padding-bottom:60px;
}


/*==================================
	7.8 Footer
===================================*/

.footer-wrapper{
	background:#292a2c;
	padding-top:45px;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}

.footer-feeds{	

}
.head-icon{
	width:101px;
	height:101px;
	border-radius:50%;
	border:5px solid #3b3c3e;
	margin:0 auto;
	line-height:85px;
	font-size:50px;
	text-align:center;
	margin-top:20px;
}

.color1{
	color:#3498db;
}
.color2{
	color:#f39c12;
}
.color3{
	color:#e74c3c;
}
.color4{
	color:#0e64db;
}
.footer-wrapper .head{
	padding-top:27px;
	padding-bottom:17px;
	border-bottom:1px solid #3b3c3e;
	margin-bottom:35px;
	width:100%;
	text-align:center;

}
.footer-wrapper .time-stamp{
	font-size:14px;
	line-height:22px;
	color:#7f8c8d;
}
.popular-post{
	padding-bottom:20px;
}
.popular-post a{
	font-size:14px;
	line-height:22px;
	color:#ffffff;
	text-decoration:none;
}
.contact-info ul{
	margin:0;
	padding:0;
}
.contact-info li{
	color:#e74c3c;
	font-size:14px;
	display:block;
	position:relative;
	margin-bottom:10px;
}
.contact-info li a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	padding-left:13px;

}
.contact-info li.address{
	margin-bottom:20px;
}


/*tweete*/
#tweets {
	width:100%;
	height:auto;
	background:none;
	font-family:'Open Sans', sans-serif;
	color:#fff;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
		
}

#tweets li {
	padding: 5px;
	line-height:25px;
	list-style:none;
}

#tweets li .timestamp {
	text-align:left;
	color:#7f8c8d;
	
	
}
#tweets p{
	color:#fff;
	font-size:14px;
	line-height:28px;
	font-family:'Open Sans';
		
}
#tweets a{
	display:block;
}
#tweets li.tweet_content_0 {
	border-top:0px none;
	color:#fff;
}
#tweets li:last-child{
	border-bottom:0px none;	
}

#tweets .hash { color:#e74c3c; } 
#tweets .reply { color:#FFF; } 

/*flicker*/
.flicker { margin: 0; padding: 0; overflow: hidden; }
.flicker li { list-style: none; float: left; margin-right:6px; margin-left:6px; margin-bottom:13px; }
.flicker li a { }
.flicker li img { display: block; }
.flicker li a img { border: none;}

#cycle { margin: 0; padding: 0; width: 500px; height: 333px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000;}
#cycle li { position: relative; list-style: none; margin: 0; padding: 3px; width: 500px; height: 333px; overflow: hidden; }
#cycle li div { position: absolute; bottom: 3px; left: 3px; padding: 3px; width: 494px; background: black; color: white; font-size: 12px; opacity: .8; }


.footer-line{
	background:#1e1e1f;
	
}
.copyright{
	font-size:14px;
	color:#fff;
	line-height:77px;
}

.social{
	margin:0;
	padding:5px;
	background:#1d1d1d;
	margin-top:10px;
	margin-bottom:10px;
	float:right;
	display:table;
	text-align:center;
}
.social li a{
	color:#656565;
	line-height:40px;
	text-align:center;
	font-size:16px;
	border:1px solid #2b2b2b;
	height:40px;
	width:40px;
	display:block;
	margin:5px;
	text-decoration:none;
}

.social li{
	display:inline-block;
}


.social li a:hover{
	color:#fff;
	background:#e74c3c;
}
.navbar-collapse{
	padding-right:0;
}

/*==================================
	8. Other Pages
===================================*/

#subpage-holder{
	padding-top:60px;
	background:#f5f5f5;
}

/*==================================
	8.1 Blog Standard / Wide
===================================*/
.post-wide
{
	
}

	.post-wide .img
	{
		max-width:100%;
	}
		.post-wide .img img
		{
			max-width:100%;
		}
	
	.post-wide .meta-wide
	{
		margin-top:20px;
	}

	.post-wide .meta-wide .date
	{
	}

		.blog-date-w{
			
			width:60px;
			height:60px;
			background:#27ae60;
			font-family: 'Montserrat', sans-serif;
			color:#fff;
			text-align:center;
			padding-top:10px;
		}
		.blog-date-w .day{
			font-size:26px;
			line-height:20px;
			font-weight:600;
			color:#fff;
		}
		.blog-date-w .month{
			font-size:15px;
			color:#fff;
			line-height:18x;
			text-transform:uppercase;
			font-weight:bold;
		}

	.post-wide .meta-wide .title-info
	{
		padding-left:15px;
	}
	
		.post-wide .meta-wide .title-info .head
		{
			color:#000;
			font-weight:400;
		}
		
		.post-wide .meta-wide .title-info .post-meta
		{
			
		}
			.post-wide .meta-wide .title-info .post-meta li
		{			
				font-size:14px;
				color:#7f8c8d;
				border-right:1px solid #9ea8a9;
				display:inline-block;
				padding-right:5px;
				padding-left:0px;
		}
		
		.post-wide .meta-wide .title-info .post-meta li:last-child{
			padding-right:0px;
			border-right: none;
		}

				.post-wide .meta-wide .title-info .post-meta li a
				{
				color:#27ae60;
				text-transform:capitalize;
				text-decoration:none;
				}
	
	.post-wide .content-wide
	{
		font-size:14px;
		color:#7f8c8d;
		line-height:28px;
		margin-top:10px;
	}
	
		.post-wide .content-wide 
	
{}


.blog-slider .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.blog-slider .flex-next {
    opacity: 0.8;
    right: 5px;
}
/*==================================
	8.2 Blog Masonry
===================================*/

#blog-holder
{
	padding-top:60px;
	background:#f5f5f5;
}



.blog-unit{
	width:100%;
	height:auto;
	margin-bottom:22px;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:2px solid #c4c4c4;
	padding:10px;
	background:#ffffff;
}

.blog-visual{
	position: relative;
	width:100%;
}
.blog-visual img{
	width:100%;
	height:auto;
}
.blog-date{
	position:absolute;
	width:60px;
	height:60px;
	background:#27ae60;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	text-align:center;
	bottom:0;
	left:0;
	padding-top:10px;
}
.blog-date .day{
	font-size:26px;
	line-height:20px;
	font-weight:600;
	color:#fff;
}
.blog-date .month{
	font-size:15px;
	color:#fff;
	line-height:18x;
	text-transform:uppercase;
	font-weight:bold;
}
.blog-detail .head{
	line-height:20px;
	padding-top:10px;
	padding-bottom:12px;
}
.blog-detail .head a{
	color:#000;
	font-size:18px;
	line-height:20px;
	text-decoration:none;
}

.blog-info ul{
	margin:0;
	padding:0;
}

.blog-info li{
	list-style:none;
	font-size:12px;
	line-height:14px;
	color:#7f8c8d;
	border-right:1px solid #7f8c8d;
	display:inline-block;
	padding-right:5px;
}
.blog-info li:last-child{
	padding-right:0px;
	border-right: none;
}
.blog-info li a{
	color:#27ae60;
	text-transform:capitalize;
	text-decoration:none;
}
.blog-detail p{
	font-size:13px;
	line-height:24px;
	color:#7f8c8d;
}
a.readmore{
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	text-decoration:none;
	background:#f54444;
	display:table;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border-radius:3px;
	border-bottom:3px solid #c13636;
	line-height:37px;
	transition:All .1s ease;
	-webkit-transition:All .1s ease;
	-moz-transition:All .1s ease;
	-o-transition:All .1s ease;
}
a.readmore:hover,.blog-tags li a:hover, #promo-line a:hover{
	
	background:#ffc71d;
	border-top:2px solid #e4b21b;
	border-bottom:none;
	
}
.blog-pagination{
	border-top:2px solid #E0E3E6;
	padding-top:20px;
	padding-bottom:100px;
	margin-top:60px;
}
.blog-pagination ul{
	margin:0;
	padding:0;
}
.blog-pagination li{
	display:block;
	float:left;
	margin-right:5px;
}
.blog-pagination li a{
	padding-left:8px;
	padding-right:8px;
	display:block;
	background:#e9e9e9;
	color:#666666;
	border-bottom:2px solid #9e9e9e;
	text-align:center;
	line-height:26px;
	font-size:16px;
	font-weight:600;
	text-decoration:none;
}
.blog-pagination li.active a,.blog-pagination li a:hover{
	background:#f54444;
	border-color:#a62e2e;
	color:#fff;
}

.blog-pagination li:last-child a{
	padding-left:15px;
	padding-right:15px;
}


.blog-pagination li:last-child span{
	padding-left:4px;

}


.blog-search{
	height:43px;
	width:100%;
	background:#fff;
	border:1px solid #d6d6d6;
	position:relative;
	
}

.blog-search input{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	padding-left:9px;
	color:#bdc3c7;
}

.blog-search button{
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:35px;
	color:#bdc3c7;
	border:0;
	padding:0;
	margin:0;
	background:none;
}

.blog-search button:hover{
	color:#fff;
	background:#f54444;
}

.head-wrapper .head{
	font-size:18px;
	line-height:40px;
	color:#1b1b1b;
	display:table;
	border-bottom:2px solid #27ae60;
	z-index:99;
	margin-bottom:-2px;

}

.recent-posts{
	margin-top:42px;
}
.head-wrapper{
	border-bottom:2px solid #bdc3c7;
}
.latest-post{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #bdc3c7;
	min-height:110px;
	
}

.latest-post .recent-visual{
	height:70px;
	width:70px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.latest-post .recent-visual img{
	height:70px;
	width:70px;
}
.latest-detail{
	display:table;
}
.latest-post .recent-visual span{
	color:#e74c3c;
	font-size:30px;
}
.latest-post a{
	color:#1b1b1b;
	font-size:14px;
	font-weight:600;
	margin-top:-4px;
	text-decoration:none;
	display:block;

}
.latest-detail .date-stamp,.latest-detail a.reference{
	font-size:13px;
	font-weight:600;
	line-height:28px;
	color:#7f8c8d;
	text-decoration:none;
}

.blog-catagories,.blog-tags{
	margin-top:42px;
}

.blog-catagories ul{
	margin:0;
	padding:0;
}
.blog-catagories li{
	list-style:none;
	border-bottom:1px solid #bdc3c7;
}
.blog-catagories li a{
	font-size:14px;
	line-height:40px;
	font-weight:600;
	color:#1b1b1b;
	text-decoration:none;
}


.blog-catagories li a:hover,.latest-post a:hover{
	color:#f54444;
}


.blog-tags ul{
	margin:0;
	padding:0;
	margin-top:15px;
}

.blog-tags li{
	float:left;
	list-style:none;
	margin-right:5px;
	margin-bottom:7px;

}

.blog-tags li a{
	background:#7f8c8d;
	display:table;
	line-height:34px;
	padding-left:5px;
	padding-right:5px;
	color:#fff;
	text-decoration:none;
	font-weight:600;
	border-radius:3px;
	transition:All .3s ease;
	-webkit-transition:All .3s ease;
	-moz-transition:All .3s ease;
	-o-transition:All .3s ease;

}

.blog-promo{
	background:#efefef;
	border-top:2px solid #E0E3E6;
}

/*==================================
	8.3 Blog Post
===================================*/
 
 .author
 {
 }
 
 	.author .thumb
	{
		width:80px;
		height:80px;
	}
		.author .thumb img
		{
			width:100%;
		}
	
	.author .about-author
	{
		width:100%;
		padding-left:100px;
	}
	
		.author .about-author .head
		{
		}
			.author .about-author .head h1
			{
				font-size:18px !important;
				margin-bottom:10px !important;
				padding-top:5px !important;
			}
		
		.author .about-author .details
		{
			color:#7f8c8d;
			line-height:24px;
			font-size:13px;
		}


.comtment-container
{
	margin-bottom:40px;
}
	
	.comtment-container .comment-body
	{
		background:#fff;
		border-left:1px solid #e9e9e9;
		border-right:1px solid #e9e9e9;
		border-top:1px solid #e9e9e9;
		border-bottom:2px solid #c4c4c4;
		padding:20px;
		margin:20px 0px;
	}
	
		.comtment-container .comment-body .thumb
		{
			width:50px;
			height:50px;
			
		}
		
			.comtment-container .comment-body .thumb img
			{
				width:100%;
			}
		
		.comtment-container .comment-body .content
		{
			padding-left:65px;
			
		}
		
		.comtment-container .comment-body .content .user
		{
			font-size:16px;
			color:#000;
		}
			
			.comtment-container .comment-body .content .user a
			{
				color:#000;
				transition:All .3s ease;
				-webkit-transition:All .3s ease;
				-moz-transition:All .3s ease;
				-o-transition:All .3s ease;
			}
			
			.comtment-container .comment-body .content .user a:hover
			{
				color:#f54444;
				text-decoration:none;
			}
		
		.comtment-container .comment-body .content .meta
		{
			font-size:12px;
			color:#999;
		}
		
		.comtment-container .comment-body .content .text
		{
			color:#7f8c8d;
			line-height:24px;
			font-size:13px;
		}
		
		.comtment-container .comment-body .reply
		{
			margin-top:15px;

		}
		
			.comtment-container .reply a
			{
				background:#EBEBEB;
				padding:5px 20px;
				color:#666;
				border-radius:2px;
				transition:All .3s ease;
				-webkit-transition:All .3s ease;
				-moz-transition:All .3s ease;
				-o-transition:All .3s ease;
				text-decoration:none;

			}
			
			.comtment-container .comment-body .reply a:hover
			{
				background:#f54444;
				color:#fff;

			}
			
			.comtment-container .comment-reply
			{
				margin-left:30px;
			}
			
			.comtment-container .comment-reply-lvl2
			{
				margin-left:60px;
			}
	
	.comment-form-container
	{
		margin-bottom:60px;
	}
		
		.comment-form-container .fields
		{
			margin-bottom:20px;
		}
		
			.comment-form-container .fields input
			{
				width:100%;
				border:1px solid #ccc;
				font-size:14px;
				color:#666;
				line-height:35px;
				padding-left:5px;
			}
			
			.comment-form-container .fields textarea
			{
				width:100%;
				border:1px solid #ccc;
				font-size:14px;
				color:#666;
				height:150px;
				padding-left:5px;
			}
				
/*==================================
	8.4 Full Width
===================================*/

.full-width-content
{
	color:#7f8c8d;
	line-height:28px;
	font-size:15px;
	padding-bottom:30px;
}

	.full-width-content p
	{
		margin-bottom:20px;
	}


/*==================================
	8.5 Portfolio
===================================*/

.filters 
{
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:#000;
	font-size:14px;	
}
	.filters li + li:before
	{
		content: '/';
		padding-right: 10px !important;
		color:#ccc;
		}

	.filters  a
	{
		color:#666;
		text-decoration:none;
	}
	
	.filters  a:hover
	{
		color:#999
	}
	
	.filters .active
	{
		color:#f54444;
	}



.folio{
	position:relative;

	margin-bottom:20px;
}
.folio-visual{
	position:relative;
	overflow:hidden;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-top:1px solid #e9e9e9;
}
.folio-visual img{
	width:100%;
	height:auto;
	border:10px solid #fff;
}
.folio-hover{
	position:absolute;
	height:100%;
	width:100%;
	background:#f54444;
	background:rgba(245,68,68,.9);
	top:100%;
	left:0;
	padding-top:20%;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.folio:hover .folio-hover{
	top:0;
}

.folio-hover ul{
	margin-top:-200%;
	padding:0;
	text-align:center;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.folio:hover .folio-hover ul{
	margin:0;
}


.folio-hover li{
	width:70px;
	height:70px;
	background:#ffffff;
	color:#fc453f;
	line-height:70px;
	text-align:center;
	display:inline-block;
	font-size:25px;
	border-radius:50%;
	margin-right:7px;
	cursor:pointer;

}

.folio .content-container
{
	background:#fff;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:2px solid #c4c4c4;
	padding-bottom:15px;
}

.folio .content-container .head{
	text-align: center !important;
}
.folio .content-container .head a{
	color:#000;
	text-decoration:none;
	font-size:20px;
	line-height:40px;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	padding-top:13px;
	padding-bottom:7px;
	text-align:left !important;
}

.folio .content-container .category
{
	font-size:16px;
	color:#95a5a6;
	text-align:center;
}

/*==================================
	8.6 Portfolio Single Page
===================================*/
.image-width img
{
	width:100%;
}

.port-nav
{

}

	.port-nav .p-icon
	{
	
		
		background:#bdc3c7;
		text-align:center;
		color:#fff;
		font-size:18px;
		
	}
	
		.port-nav  li
		{
			padding:0px;
		}
	
		
		.port-nav .p-icon a
		{
			width:50px;
			height:50px;
			display:block;
			line-height:46px;
			color:#fff;
			border-bottom:4px solid #979c9f;
			transition:.2s ease-out;
			-webkit-transition:.2s ease-out;
			-moz-transition:.2s ease-out;
			-o-transition:.2s ease-out;
		}
		
		.port-nav .p-icon a:hover
		{
			background:#f54444;
			text-decoration:none;
			border-bottom:4px solid #c43636;
		}
		
.port-content
{
	background:#fff;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:2px solid #c4c4c4;
	padding:20px;
	margin-top:40px;
	width:100%;
	
}
	.port-content .head
	{
		margin-bottom:5px;
	}
	
	.port-content .head h1
	{
		font-size:22px !important;
		margin-bottom:0px !important;
	}
	
	.port-content .link
	{
		color:#f54444;
		margin-bottom:20px;
	}
	
		.port-content .link a
		{
			color:#f54444;
			transition:.2s ease-out;
			-webkit-transition:.2s ease-out;
			-moz-transition:.2s ease-out;
			-o-transition:.2s ease-out;
			
		}

		.port-content .link a:hover
		{
			color:#ffc617;
			text-decoration:none;
			
		}


	.port-content  .skills
	{
		color:#7f8c8d;
		padding-bottom:20px;
		border-bottom:2px solid #e5e8e8;
	}
	
		.port-content  .skills span
		{
			color:#000;
			font-weight:bold;
		}

	.port-content .text
	{
		margin-top:20px;
		color:#7f8c8d;
		line-height:28px;
	}

/* Extended content*/

	.port-ext-content 
	{
		color:#7f8c8d;
		line-height:28px;
	}
		.port-ext-content p
		{
			margin:20px 0px;
		}
		
		.port-ext-content  img
		{
			max-width:100%;
		}

/*==================================
	8.7 Single Page Wide
===================================*/
	

.port-content-wide
{
	background:#fff;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	padding:20px 0px 10px 0px;
	width:100%;
	
}

	.port-content-wide .head
	{
		margin-bottom:5px;
	}
	
	.port-content-wide .head h1
	{
		font-size:22px !important;
		margin-bottom:0px !important;
	}
	
	.port-content-wide .link
	{
		color:#f54444;
		
	}
	
		.port-content-wide .link a
		{
			color:#f54444;
			transition:.2s ease-out;
			-webkit-transition:.2s ease-out;
			-moz-transition:.2s ease-out;
			-o-transition:.2s ease-out;
			
		}

		.port-content-wide .link a:hover
		{
			color:#ffc617;
			text-decoration:none;
			
		}

.port-content-bottom
{
}
	.port-content-bottom  .skills
	{
		color:#7f8c8d;
		padding-bottom:20px;
		padding-top:20px;
		border-bottom:2px solid #e5e8e8;
	}
	
		.port-content-bottom  .skills span
		{
			color:#000;
			font-weight:bold;
		}

	.port-content-bottom .text
	{
		margin-top:20px;
		color:#7f8c8d;
		line-height:28px;
	}

/*================================
	8.8 About
================================*/
.about-head-container
{
	padding-bottom:60px;
}

.team-container
{
	padding-bottom:50px;
}

.team{
	position:relative;

	margin-bottom:20px;
}
.team-visual{
	position:relative;
	overflow:hidden;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-top:1px solid #e9e9e9;
}
.team-visual img{
	width:100%;
	height:auto;
}
.team-hover{
	position:absolute;
	height:100%;
	width:100%;
	background:#f54444;
	background:rgba(245,68,68,.9);
	top:100%;
	left:0;
	padding-top:10%;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.team:hover .team-hover{
	top:0;
}

.team-hover ul{
	margin-top:-200%;
	padding:0;
	text-align:center;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.team:hover .team-hover ul{
	margin:0;
}


.team-hover li{
	width:48px;
	height:48px;
	background:#ffffff;
	color:#27ae60;
	line-height:48px;
	text-align:center;
	display:inline-block;
	font-size:24px;
	border-radius:50%;
	margin-right:7px;
	cursor:pointer;

}

.team-hover .detail
{
	width:100%;
	font-size:14px;
	color:#fff;
	line-height:28px;
	border-radius:0px;
	background:none;
	text-align:left;
	display:inline-table;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}

.team .content-container
{
	background:#fff;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:2px solid #c4c4c4;
	padding-bottom:15px;
}

.team .content-container .head{
	text-align: center !important;
		color:#000;
	text-decoration:none;
	font-size:22px;
	line-height:30px;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
	padding-top:13px;
	

}

.team .content-container .title
{
	font-size:14px;
	color:#f54444;
	text-align:center;
}


.about-content-container
{
	padding-top:50px;
	padding-bottom:50px;
}

	.about-content-container .head
	{
		font-size:28px;
		font-family: 'Montserrat', sans-serif;
		font-weight:bold;
		color:#000;
		padding-bottom:15px;
	}
	
	.about-content-container .text
	{
		font-size:14px;
		color:#7f8c8d;
		line-height:28px;
	}
	.graph-container
	{
	}
		.graph
		{
			margin-bottom:20px;
		}
		
		.graph .title
		{
			font-size:14px;
			color:#f54444;
		}
		
		.graph .pct
		{
			color:#000;
			font-size:14px;
		}
		
		.graph .bar
		{
			width:100%;
			height:16px;
			border-radius:3px;
			background:#bdc3c7;
			margin: 10px 0px;
		}
		
		.graph .bar .position
		{
			
			height:16px;
			border-radius:3px;
			background:#27ae60;
		}
		
		.pct10{width:10%;}
		.pct20{width:20%;}
		.pct30{width:30%;}
		.pct40{width:40%;}
		.pct50{width:50%;}
		.pct60{width:60%;}
		.pct70{width:70%;}
		.pct80{width:80%;}
		.pct90{width:90%;}
		

.testimonial-container
{
}

	.testimonial-container .content
	{
		background:#e0e3e4;
		border-radius:2px;
		padding:20px 10px;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:16px;
		color:#666;
		text-align:center;
		line-height:28px;
		margin-bottom:20px;
		font-style:italic;
	}
	
	.testimonial-container .qarrow
	{
		width:40px;
		height:20px;
		position:absolute;
		margin-top:-30px;
		margin-left:6px;
	}
	.testimonial-container .qarrow img
	{
		width:100%;
	}
	
	.testimonial-container .customer
	{
		width:55px;
		height:55px;
		border-radius:30px;
		border:5px solid #1abc9c;
		overflow:hidden;
	}
		.testimonial-container .customer img
		{
			width:100%;
		}
	
	.testimonial-container .customer-desc
	{
		color:#000000;
		font-size:15px;
		font-weight:600;
		padding-top:5px;
		padding-left:10px;
	}
	
		.testimonial-container .customer-desc p
		{
			margin-bottom:2px;
		}
		.testimonial-container .customer-desc a
		{
			color:#16a085;
			font-weight:normal;
		}
		
		.testimonial-container .customer-desc a:hover
		{
			color:#107763;
		}


/*================================
	8.9 Team
================================*/
.team-head-container
{
	
}
		
/*================================
	8.10 Services
================================*/
.macimg
{
	margin-bottom:50px;
}
	.macimg img
	{
		max-width:100%;
	}

.services-head-container
{
	padding-bottom:60px;
}

.retina-img
{
}

	.retina-img img
	{
		max-width:100%;
	}

.service-content-container
{
	padding-top:40px;
}
.service-content
{
	font-size:14px;
	color:#7f8c8d;
	line-height:28px;
}


/*================================
	8.11 Contact
================================*/
#contact-map
{
	height:500px;
	width:100%;
	margin-top:-60px;
	margin-bottom:60px;
}

.contact-head-container
{
	padding-bottom:60px;
}

.section-head
{
	margin-bottom:20px;
}
	
	.section-head .head-wrapper
	{
		border-bottom:2px solid #bdc3c7;
		}
		
		.section-head .head-wrapper .head
		{
			font-size:18px;
			line-height:40px;
			color:#1b1b1b;
			display:table;
			border-bottom:2px solid #f54444;
			z-index:99;
			margin-bottom:-2px;
	
		}

.form-title
{
	font-size:16px;
	color:#7f8c8d;
	line-height:24px;
	clear:both;
	
}

.contact-form-container
{
}

			.contact-form-container .fields
		{
			
			clear:both;
		}
		
			.contact-form-container .fields input
			{
				
				border:1px solid #ccc;
				font-size:14px;
				color:#666;
				line-height:35px;
				padding-left:5px;
				margin-bottom:20px;
			}
			
			.contact-form-container .fields textarea
			{
				width:100%;
				border:1px solid #ccc;
				font-size:14px;
				color:#666;
				height:150px;
				padding-left:5px;
				margin-bottom:20px;
			}

.address
{
}

	.address .address-info
	{
	}
		
		.address .address-info .office
		{
			color:#494d4d;
			font-weight:600;
			font-size:16px;
			margin-bottom:20px;
		}
		
		.address .address-info .meta
		{
			font-size:16px;
			color:#7f8c8d;
			line-height:24px;
			margin-bottom:20px;
			
		}
		
		.address .address-info .add-icons
		{
			font-size:16px;
			color:#7f8c8d;
			line-height:40px;
		}
		
			.address .address-info .add-icons i
			{
				color:#f54444;
				margin-right:15px;
				font-size:18px;
				
			}
			
.socialize
{
}

	.socialize .social-icons li
	{

		
		
		text-align:center;
		margin-bottom:20px;
		
	}
	
		.socialize .social-icons li a
		{
			width:44px;
			height:44px;
			border:1px solid #bdc3c7;
			line-height:44px;
			color:#a2a7aa;
			font-size:20px;
			display:block;
			transition:.3s ease-in;
			-webkit-transition:.3s ease-in;
			-moz-transition:.3s ease-in;
			-o-transition:.3s ease-in;
		}

		.socialize .social-icons li a:hover
		{

			border:1px solid #f54444;
			line-height:44px;
			color:#fff;
			background:#f54444;
			text-decoration:none;
			font-size:20px;
			display:block;
		}
		

/*==================================
	8.12 Shortcodes
===================================*/

.b-font
{
	font-family:15px;
	color:#7f8c8d;
	line-height:28px;
}

/*Accordian*/
.panel
{
	border-radius:0px !important;
	border:none !important;
	
}
.panel-group .panel+.panel
{
	margin-top:0px;
}

.panel-default>.panel-heading
{
	background:#27ae60;
	border-bottom:1px solid #239c56 !important;
	color:#fff;
	border-radius:0px !important;
	padding:15px 15px !important;
}

.panel-title>a
{
	text-decoration:none;
}
.panel-default>.panel-heading+.panel-collapse .panel-body
{
	font-size:15px;
	color:#7f8c8d;
	line-height:28px;
}

	.panel-default>.panel-heading+.panel-collapse .panel-body .heading
	{
		font-size:16px;
		color:#000;
		font-weight:600;
		
	}
	
/*Tabs*/	

	.tab-pane
	{
		background:#fff;
		padding:15px;
		border-bottom:1px solid #ddd;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
			font-size:15px;
	color:#7f8c8d;
	line-height:28px;
	}
		
		.tab-pane .heading
		{
			font-size:16px;
			color:#000;
			font-weight:600;
		}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
{
	border-radius:0px !important;
	border: 1px solid #27ae60;
	background:#27ae60;
	color:#fff;
	padding:12px 30px;

}

.nav-tabs>li
{
	background:#bdc3c7;
	color:#fff;
	margin-right:1px;
	
}

.nav-tabs>li>a
{
	margin-right:0px;
	padding:12px 30px;
	color:#fff;

}

.nav-tabs>li>a:hover
{
	border-radius:0px !important;
}

/*Buttons*/



	a.btn-small 
	{
		color:#fff;
		padding:10px 20px;
		font-size:14px;
		text-decoration:none;		
		transition:.3s ease;
		-webkit-transition:.3s ease;
		-moz-transition:.3s ease;
		-o-transition:.3s ease;
		font-family: 'Montserrat', sans-serif;
	}


	a.btn-med
	{
		color:#fff;
		padding:12px 40px;
		font-size:16px;
		text-decoration:none;
		transition:.3s ease;
		-webkit-transition:.3s ease;
		-moz-transition:.3s ease;
		-o-transition:.3s ease;
		font-family: 'Montserrat', sans-serif;
	}




	a.btn-large 
	{
		color:#fff;
		padding:15px 60px;
		font-size:18px;
		text-decoration:none;
		transition:.3s ease;
		-webkit-transition:.3s ease;
		-moz-transition:.3s ease;
		-o-transition:.3s ease;
		font-family: 'Montserrat', sans-serif;
	}


a.btn-red 
{
	background:#f54444;
	border-bottom:3px solid #c13636;

}

	a:hover.btn-red 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-green 
{
	background:#2ecc71;
	border-bottom:3px solid #24a159;

}

	a:hover.btn-green 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-emerald 
{
	background:#16a085;
	border-bottom:3px solid #117e69;

}

	a:hover.btn-emerald 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-blue 
{
	background:#3498db;
	border-bottom:3px solid #2978ad;

}

	a:hover.btn-blue 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-purple 
{
	background:#9b59b6;
	border-bottom:3px solid #8e44ad;

}

	a:hover.btn-purple 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-yellow 
{
	background:#f39c12;
	border-bottom:3px solid #c07b0e;

}

	a:hover.btn-yellow 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

a.btn-dblue 
{
	background:#34495e;
	border-bottom:3px solid #293a4a;

}

	a:hover.btn-dblue 
{
	background:#ffb11b;
	border-bottom:3px solid #da8e12;	
}

/* Columns */
.boxed
{
	background:#fff;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
	border-bottom:2px solid #c4c4c4;
	padding:20px;
	
	}



/*==================================
	8.13 Elements
===================================*/

.border-t{
	border-top:2px solid #E0E3E6;
}

/*Small Button*/
a.btnsmall{
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	text-decoration:none;
	background:#f54444;
	display:table;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border-radius:3px;
	border-bottom:3px solid #c13636;
	line-height:37px;
	transition:All .1s ease;
	-webkit-transition:All .1s ease;
	-moz-transition:All .1s ease;
	-o-transition:All .1s ease;
}
a.btnsmall:hover{
	
	background:#ffc71d;
	border-top:2px solid #e4b21b;
	border-bottom:none;
	
}

/*Medium Button*/

a.btnmed {
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	text-decoration:none;
	background:#f54444;
	display:table;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border-radius:3px;
	border-bottom:3px solid #c13636;
	line-height:47px;
	transition:All .1s ease;
	-webkit-transition:All .1s ease;
	-moz-transition:All .1s ease;
	-o-transition:All .1s ease;
}
a:hover.btnmed {
	
	background:#ffc71d;
	border-top:2px solid #e4b21b;
	border-bottom:none;
	
}



/* Block Quote*/
blockquote
{
	border-left: 7px #27ae60 solid;
	background:#ecf0f1;
	margin:30px;
	font-size:16px;
	color:#393e3e;
	font-style:italic;
}

/*Stick*/
.postion-f
{
	position:fixed
}

/*Divider*/
	hr
	{}
	
	.division
	{
		margin:60px 0 !important;
		border-top:1px solid #dde0e0 !important;
		border-bottom:1px solid #dde0e0 !important;
	}

	.division2
	{
		margin-bottom:50px !important;
		border-top:1px solid #dde0e0 !important;
		border-bottom:1px solid #dde0e0 !important;
	}

	.division3
	{
		margin:40px 0px !important;
		border-top:1px solid #dde0e0 !important;
		border-bottom:1px solid #dde0e0 !important;
	}

/*Pricing table*/


.ptable-container
{
	background:#fff;
	border-radius:4px;
	box-shadow:0px 1px 2px #adadad;
	-webkit-box-shadow:0px 1px 2px #adadad;
	-moz-box-shadow:0px 1px 2px #adadad;
	-o-box-shadow:0px 1px 2px #adadad;
	margin-bottom:40px;
	transition:.3s all;
	-webkit-transition:.3s all;
	margin-top:30px;

	
	
}
	
	.ptable-container .plan-title
	{
		font-family: 'Montserrat', sans-serif;
		font-size:28px;
		line-height:65px;
		font-weight:bold;
		background:#ccc;
		text-align:center;
		margin-left:-15px;
		margin-right:-15px;
		color:#fff;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
	}
	
	.ptable-container .plan-price
	{
		font-family: 'Montserrat', sans-serif;
		font-size:72px;
		font-weight:bold;
		text-align:center;
		margin-left:-15px;
		margin-right:-15px;
		padding:32px 0px 22px 0px;
		color:#fff;
		background:#efefef;
		
	}
	
		.ptable-container .plan-price .subscript
		{
			font-size:28px;
		}
		
		.ptable-container .monthly
		{
			font-size:18px;
			font-weight:normal;
		}
	
	.ptable-container .plan-detail
	{
		font-size:16px;
		color:#7f8c8d;
		line-height:26px;
		border-bottom:1px solid #e5e8e8;
		text-align:center;
		padding:20px 0px;
		font-weight:300;
	}
	
	.ptable-container .plan-features
	{
		line-height:40px;
		font-size:16px;
		color:#666;
		border-bottom:1px solid #e5e8e8;
		padding:0 10px;
	}
	
	.ptable-container .btn
	{
		padding:30px 0px 20px 0px;
		text-align:center;
		width:100%;
	}
	
	.ptable-container .btn a
	{
		margin:0 auto;
		border-radius:4px;
	}

	.popular-plan
	{
		box-shadow:0px 1px 8px #333 !important;
		-webkit-box-shadow:0px 1px 8px #333 !important;
		-moz-box-shadow:0px 1px 8px #ccc !important;
		-o-box-shadow:0px 1px 8px #ccc !important;
		position:relative;
		z-index:2;		
	}
	.popular-plan .badge-wrapper
	{
		width:85px;
		height:85px;
		overflow:hidden;
		position:absolute;
		top:-15px;
		right:0px;
		border-top-right-radius:4px;
	}
	.popular-plan .badge
	{
		position:relative;
		top:10px;
		right:0px;
		width:144px;
		height:85px;
		padding-top:60px;
		background:#6ccb20;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		margin-top:-40px;
	}
	
	.popular-plan .plan-title
	{
		margin-top:-15px !important;
		top:-10px;
		padding:7px 0px;
	}

/*table colors*/
/*red*/
	.red-table .plan-title
	{
		background:#f54444;
	}
	
	.red-table  .plan-price
	{
		background:#e73b3b;
	}
	
	.red-table .plan-features
	{
		color:#e73b3b;
	}
	
/*emerald*/
	.emerald-table .plan-title
	{
		background:#1abc9c;
	}
	
	.emerald-table  .plan-price
	{
		background:#18ad8f;
	}

	.emerald-table .plan-features
	{
		color:#18ad8f;
	}

/*blue*/
	.blue-table .plan-title
	{
		background:#2980b9;
	}
	
	.blue-table  .plan-price
	{
		background:#2570a2;
	}

	.blue-table .plan-features
	{
		color:#2570a2;
	}


/*purple*/
	.purple-table .plan-title
	{
		background:#9b59b6;
	}
	
	.purple-table  .plan-price
	{
		background:#8e44ad;
	}

	.purple-table .plan-features
	{
		color:#8e44ad;
	}
/*==================================
	9. Padding / Margin
===================================*/
.nopadding
{
	padding:0px;
}

.margin60-t
{
	margin-top:60px;
}

.margin60-b
{
	margin-bottom:60px;
}
/*==================================
	10. Responsive Media Queries
===================================*/

/* Large desktop */
@media (min-width: 1200px) {

.post{
	width:360px;
	margin-left:10px;
	margin-right:10px;
}



.navbar-nav > li > a{
	padding-left:27px;
	padding-right:27px;
	
}


}

@media (min-width:992px) and (max-width:1199px)
{
	.margin-bt-md
	{
		margin-bottom:40px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

.navbar-nav
{
	margin:7.5px 0px;
}
	
	.dropdown-menu 
	{
		position:relative;
	}
	ul.dropdown-menu 
{
	display:block;
	width:97%;
	margin-bottom:20px;
	
	
}
	
.quick-access ul{
	float:none;
	margin-left:10%;	
}
.navbar-nav{
	float:none;
}

.navbar-nav > li{
	margin-left:6px;
	
}
.navbar-nav > li > a{
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
}

.navbar-nav > li.active > a{
	background:#d5d5d5 !important;
	color:#555557 !important;
}
.navbar-fixed-top{
	position: fixed;
	
}

#solid-features .section-heading{
	text-align: center;
}


#tweets p,.popular-post,.contact-info li,.time-stamp,#tweets li .timestamp,.copyright{
	text-align:center !important;
}



.social{
	float:none;
	text-align:center !important;
	display:block;
}

#promo-line,#promo-line .section-heading,#promo-line .section-subheading{
	text-align:center;
}

/*solid features*/
#solid-features .section-heading{
	margin-bottom:30px;
	margin-top:20px;
}

.margin-bt-md
{
	margin-bottom:40px;
}

/*--------------------------
----------------------------
Services
---------------------------
---------------------------*/
.service-content-container
{
	padding-top:0px;
}

.service-content-container h2
{
	text-align:center;
}

/*==================================
	Portfolio Single Page
===================================*/

.port-nav
{
	margin-top:30px;

}
/*==================================
	Contact
===================================*/

.contact-form-container
{
	margin-bottom:30px;
}
.address
{
	margin-bottom:30px;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {



#tweets p,.popular-post,.contact-info li,.time-stamp,.timestamp,.copyright{
	text-align:center !important;
}
.social{
	float:none;
	display:block;
}

.navbar-fixed-top{
	position: fixed;
}
.quick-access{
	height:110px;
}
.quick-access ul{
	float:none;
	margin-left:10%;
	text-align:center;
}

.quick-access ul li{
	float:none;
	display:block;
}

.quick-search{
	display:inline-block;
}

.navbar-nav{
	float:none !important;
	overflow-y:hidden;
}

.navbar-nav > li{
	margin-left:6px;
	
}
.navbar-nav > li > a{
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
}

.navbar-nav > li.active > a{
	background:#d5d5d5 !important;
	color:#555557 !important;
}

.navbar-nav > li > a{
	width:95.5%;
	margin-left:10px;
}

#solid-features .section-heading{
	text-align: center;
}

.quick-search{
	width:240px;
}

#promo-line,#promo-line .section-heading,#promo-line .section-subheading{
	text-align:center;
}

.viemeo-player{
	width:90%;
	max-width:480px !important;

}

.bread-crumb .head{
	line-height:30px;
	padding-top:20px;
}
.bread-crumb{
	padding-bottom:20px;
	line-height:30px;
}
.crumbs{
	padding-top:20px;
}

/*dropdown*/
	.navbar-nav
{
	margin:7.5px 0px;
}
	
	.dropdown-menu 
	{
		position:relative;
	}
	ul.dropdown-menu 
{
	display:block;
	width:97%;
	margin-bottom:20px;
	
	
}

/*solid features*/
#solid-features .section-heading{
	margin-bottom:30px;
	margin-top:20px;
}

/*pricing table*/
	.popular-plan .badge-wrapper
	{

		top:0px;

	}

/*--------------------------
----------------------------
Services
---------------------------
---------------------------*/
.service-content-container
{
	padding-top:0px;
}

.service-content-container h2
{
	text-align:center;
}



/*==================================
	Blog Standard Wide
===================================*/


	
	.post-wide .meta-wide .title-info
	{
		padding-left:15px;
		width:85%
	}
	
		.post-wide .meta-wide .title-info .head
		{
			line-height:30px;

		}
		
		.post-wide .meta-wide .title-info .post-meta
		{
			margin-top:10px;
			
		}


 
 /*==================================
	Portfolio Single Page
===================================*/

.port-nav
{
	margin-top:30px;

}

/*==================================
	Contact
===================================*/

.contact-form-container
{
	margin-bottom:30px;
}
.address
{
	margin-bottom:30px;
}
}
/* Landscape phones and down */
@media (max-width: 480px) {

	.navbar-nav
{
	margin:7.5px 0px;
}
	
	.dropdown-menu 
	{
		position:relative;
	}
	ul.dropdown-menu 
{
	display:block;
	width:95%;
	margin-bottom:20px;
	
	
}

.bread-crumb,.bread-crumb .head{
	line-height:30px;
}
.navbar-nav > li > a{
	width:92%;
	margin-left:9.5px;
}
.section-heading{
	font-size:30px;
}

.viemeo-player{
	max-width:360px !important;

}

.video-width{
	height:400px;
}

/*solid features*/
#solid-features .section-heading{

	margin-bottom:30px;
	margin-top:20px;
}



/*==================================
	Blog Standard Wide
===================================*/


	
	.post-wide .meta-wide .title-info
	{
		padding-left:15px;
		width:75%
	}


/*--------------------------
----------------------------
Services
---------------------------
---------------------------*/
.service-content-container
{
	padding-top:0px;
}

.service-content-container h2
{
	text-align:center;
}

/*==================================
	Portfolio Single Page
===================================*/

.port-nav
{
	margin-top:30px;

}


/*==================================
	Contact
===================================*/

.contact-form-container
{
	margin-bottom:30px;
}
.address
{
	margin-bottom:30px;
}
}

@media (max-width: 360px) {

	.navbar-nav
{
	margin:7.5px 0px;
}
.navbar-fixed-top .navbar-brand img
{
	max-width:212px
}	
	.dropdown-menu 
	{
		position:relative;
	}
	ul.dropdown-menu 
{
	display:block;
	width:95%;
	margin-bottom:20px;
	
	
}

.navbar-brand img{
	max-width:220px;

		
}	
.viemeo-player{
	max-width:300px !important;

}

.video-width{
	height:300px;
}

/*solid features*/
#solid-features .section-heading{

	margin-bottom:30px;
	margin-top:20px;
}


/*==================================
	Blog Standard Wide
===================================*/


	
	.post-wide .meta-wide .title-info
	{
		padding-left:15px;
		width:75%
	}

/*==================================
	About
===================================*/

.team-hover li{
	width:30px;
	height:30px;
	line-height:30px;
	font-size:18px;
}


.team-hover .detail
{
	font-size:13px;
	color:#fff;
	line-height:20px;

}	


/*--------------------------
----------------------------
Services
---------------------------
---------------------------*/
.service-content-container
{
	padding-top:0px;
}

.service-content-container h2
{
	text-align:center;
}

/*==================================
	Portfolio Single Page
===================================*/

.port-nav
{
	margin-top:30px;

}

/*==================================
	Contact
===================================*/

.contact-form-container
{
	margin-bottom:30px;
}
.address
{
	margin-bottom:30px;
}
}

@media (max-width: 320px) {
	.navbar-nav
{
	margin:7.5px 0px;
}
.navbar-fixed-top .navbar-brand img
{
	max-width:212px
}
	.dropdown-menu 
	{
		position:relative;
		
	}
	ul.dropdown-menu 
{
	display:block;
	width:95%;
	margin-bottom:20px;
	
	
}

.folio .content-container .head
{
	line-height:26px;
}

.folio .content-container .head a{

	font-size:18px;
	line-height:26px;
}

/*solid features*/
#solid-features .section-heading{

	margin-bottom:30px;
	margin-top:20px;
}
.et-wrapper-basic{
	margin-bottom:00px
	
}
.folio{
	margin-bottom:10px
	
}
/*==================================
	About
===================================*/
.team-hover{
	padding-top:6%;
}
.team-hover li{
	width:30px;
	height:30px;
	line-height:30px;
	font-size:18px;
}


.team-hover .detail
{
	font-size:12px;
	color:#fff;
	line-height:18px;

}
	
/*--------------------------
----------------------------
Services
---------------------------
---------------------------*/
.service-content-container
{
	padding-top:0px;
}

.service-content-container h2
{
	text-align:center;
}

/*==================================
	Portfolio Single Page
===================================*/

.port-nav
{
	margin-top:30px;

}

/*==================================
	Contact
===================================*/

.contact-form-container
{
	margin-bottom:30px;
}
.address
{
	margin-bottom:30px;
}
}




